<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../public/js/vue.js"></script>
    <title>vue.js</title>
</head>
<body>
    <h4>v-for的基本使用方法</h4>
    <div class='app'>
        <label>基础循环</label>
        <p v-for="item in itemArray">
            年龄：{{item}}岁；
        </p>
        <!--<h4>v-for 对象循环输出并排序</h4> 
        <label>基础循环</label>
        <p v-for="item in objArray">
            名字：{{item.name}}===年龄：{{item.age}}岁；
        </p> 
    -->
    </div>
    <hr>
    <h4>v-for el:class作用测试</h4>
    <div class='app'>
        <label>基础循环</label>
        <p v-for="item in sortItems">
            年龄：{{item}}岁；
        </p>
    </div> 
    
    
</body>
<script>
        const data={
            el:'.app',
            data:{ 
                itemArray:[1,34,56,687,78,89,90,78,56],
                //objArray:[{name:'lqq',age:16},{name:'yl',age:17},{name:'csl',age:99},{name:'hjw',age:56}]

            },
            computed:{
            sortItems:()=>{
                //数组array.sort()按照字符编码的顺序排序
                return this.itemArray.sort((a,b)=>{return a-b});
            },
            // sortObjItems:()=>{
            //     //数组array.sort()按照字符编码的顺序排序
            //     return this.objArray.sort((a,b)=>{
            //         const x = a['age'];
            //         const y = b['age']; 
            //         return ((x<y)?-1:((x>y)?1:0));
            //     });
            //   }
         }
        };
 
        new Vue(data);
    </script>
</html>